/* Import base styles */
@import './base.css';

/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Links and elements with class "green" */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: background-color 0.4s;
  padding: 3px;
}

/* Hover effect for links */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Layout adjustments for larger screens */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
  }

  #app {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 2rem; /* Spacing between columns */
    padding: 0 2rem;
  }
}
